			class {{ gtype }}
			{
				name = "{{ gtype }}";

{% for group in groups %}
				class {{ faction }}_grp_{{ group.class }}
				{
					name = "{{ group.name }}";
					side = "{{ side }}";
					faction = "{{ faction }}";
					rarityGroup = 0.5;
{% if side_l != "" %}					icon = "\A3\ui_f\data\map\markers\nato\{{ side_l }}_{{ gtype_n}}.paa";{% endif %}
{% for unit in group.units %}
					class Unit{{ unit.count }}
					{
						side = {{ side }};
						vehicle = "{{ faction }}_{{ unit.class }}";
						rank = "{{ unit.rank }}";
						position[] = { {{ unit.pos }} };
					};
{% endfor %}
				};
{% endfor %}
			};
