class CfgVehicleClasses
{
	class {{ faction }}_Infantry
	{
		displayName="Men";
	};
	class {{ faction }}_Mechanized
	{
		displayName="Mechanized Infantry";
	};
	class {{ faction }}_Motorized
	{
		displayName="Motorized Infantry";
	};
	class {{ faction }}_Armor
	{
		displayName="Armor"
	};
	class {{ faction }}_Air
	{
		displayName="Air";
	};
};
