	class InventoryItem_Base_F;
	class {{ vest_class }};
	class VestItem;

	class {{ faction }}_Vest: {{ vest_class }}
	{
		scope = 2;
		displayName = "[{{ prepend }}] {{ vest_name }}";
		author="{{ author }}";
		picture = "\{{ faction }}\Gear\uim\Vest.paa";
		model = "{{ vest_model }}";
		hiddenSelectionsTextures[] = {"\{{ faction }}\Gear\Vest.paa"};
		hiddenSelections[] = {"Camo"};



		class ItemInfo: VestItem
		{
			_generalMacro = "VestItem";
			uniformModel = "{{ vest_model }}";
			uniformType = "default";
			type = 701;
			containerClass = "Supply120";
			hiddenSelections[] = {"camo"};
			mass = {{ vest_mass }};
			armor = {{ vest_armor }};
			passThrough = {{ vest_passthrough }};
			class HitpointsProtectionInfo
			{
				class Chest
				{
					hitpointName="HitChest";
					armor={{ vest_chest_armor }};
					passThrough={{ vest_chest_passthrough}};
				};
				class Diaphragm
				{
					hitpointName="HitDiaphragm";
					armor={{ vest_diaphragm_armor }};
					passThrough={{ vest_diaphragm_passthrough }};
				};
				class Abdomen
				{
					hitpointName="HitAbdomen";
					armor={{ vest_abdomen_armor }};
					passThrough={{ vest_abdomen_passthrough }};
				};
//				class Pelvis
// 				{
//					hitpointName="HitPelvis";
//					armor={{ vest_pelvis_armor }};
//					passThrough={{ vest_pelvis_passthrough }};
//				};
				class Body
				{
					hitpointName="HitBody";
//					armor={{ vest_body_armor }};
					passThrough={{ vest_body_passthrough }};
				};
			};
		};
	};

	