	class Uniform_Base;
	class UniformItem;

	class {{ faction }}_Camo : Uniform_Base 
	{
		scope = 2;
		author="{{ author }}";
		displayName = "[{{ prepend }}] {{ camo_name }}";
		picture = "\{{ faction }}\Gear\uim\Uniform.paa";
		model = "{{ soldier_model }}";
		
		class ItemInfo : UniformItem {
			uniformModel = "-";
			uniformClass = "{{ faction }}_rifleman";
			containerClass = "Supply60";
			mass = 1;
		};
	};

